<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edytuj roślinę</title>
</head>
<body>
    <h2>Edytuj roślinę</h2>

    <form method="POST" action="/edit_plant/{{ plant.id }}">
        <input type="text" name="name" value="{{ plant.name }}" placeholder="Nazwa rośliny"><br>
        <input type="date" name="watering_day" value="{{ plant.watering_day }}"><br>
        <input type="time" name="watering_time" value="{{ plant.watering_time }}"><br>
        <input type="text" name="photo_url" value="{{ plant.photo_url }}" placeholder="URL zdjęcia"><br>
        <button type="submit">Zapisz zmiany</button>
    </form>

    <br>
    <a href="/dashboard">← Wróć do panelu</a>
</body>
</html>
